Probability

In [1]:
#probability of getting 3 when a die is rolled
ns = 6 #n(S) = {1,2,3,4,5,6}
na = 1 #n(A) = {3}
pa = na/ns #p(A)
print("probability of getting 3 is: ",pa)

probability of getting 3 is:  0.16666666666666666

In [2]:
# probability of getting atleat one head when one coin is tossed is thrice 
ns = 8 #n(S) = {HHH,TTT,HTT,HTH,HHT,THH,TTH,THT}
na = 7 #n(A) = {HHH,HTT,HTH,HHT,THH,TTH,THT}
pa = na/ns #p(A)
print("probability of getting atleast one head is: ",pa)

probability of getting atleast one head is:  0.875

In [3]:
# A glass jar contains 5 red, 3 blue and 2 green jelly beans
# if a jelly bean is chosen at random from the jar,
# what is the probability that is not blue

ns = 10 #n(S) ={Red,Green,Blue}
na =7 #n(A) = {Red,Blue}
pa = na/ns #p(A)
print("probability of getting not jelly bean is: ",pa)

probability of getting not jelly bean is:  0.7

Independent and dependent Events

In [5]:
pa = 0.7
pb = 0.5 
p_AUB = pa*pb
print("probability that they will be alive after 20 years is: ",p_AUB)

probability that they will be alive after 20 years is:  0.35

In [6]:
def event_probability(n,s):
    return n/s

In [7]:
# A fair die is tossed twice.
#find probability of getting 4 or 5 on the first toss and probability of getting 1,2 or 3 on the second toss
#n(S) = {1,2,3,4,5,6}
#n(A) = {4,5}
#n(B) = {1,2,3}
pa = event_probability(2,6)
pb = event_probability(3,6)
print("probability of getting 4 or 5 on the first toss and probability of getting 1,2 or 3 on the second toss is ",pa*pb)

probability of getting 4 or 5 on the first toss and probability of getting 1,2 or 3 on the second toss is  0.16666666666666666

In [8]:
# ABag contain 5 white , 3 black and 2 green marbles .In each draw marble is drawn and the bag not replaced.
# In the Three drawn find the probability of obtaining white,black and green in that order
pw = event_probability(5,10)
pb = event_probability(3,9)
pg = event_probability(2,8)
print("probability of obtaining white,black,green ",pw*pb*pg)

probability of obtaining white,black,green  0.041666666666666664

In [9]:
# sample space
card = 52
# calculate the prob. of drawing a heart or a club
hearts = 13
clubs =13
heart_or_club = event_probability(hearts,card) + event_probability(clubs,card)
print("probability of drawing a heart or a club : ",heart_or_club)

probability of drawing a heart or a club :  0.5

In [11]:
# calculate the prob. of drawing an ace,king or a queen
aces = 4
king = 4
queen = 4
ace_king_or_queen = event_probability(aces,card) + event_probability(king,card) + event_probability(queen,card)
print("prob. of drawing an ace,king or queen ",ace_king_or_queen)

prob. of drawing an ace,king or queen  0.23076923076923078

In [17]:
# calculate the prob. of drawing a heart or an ace
aces = 4
hearts = 13
aces_of_hearts = 1
heart_or_ace = event_probability(hearts,card) + event_probability(aces,card) - event_probability(aces_of_hearts,card)
print(round(heart_or_ace,1))

0.3

In [16]:
# calculate the prob. of drawing a red card or an face card
red_cards = 26
face_cards = 12
red_face_cards = 6
red_or_face_card = event_probability(red_cards,card) + event_probability(face_cards,card) - event_probability(red_face_cards,card)
print(round(red_or_face_card,1))

0.6

#  Complementry Event

In [18]:
# probability of not getting 5 when a fair die is rolled

ns = 6 #n(s) = {1,2,3,4,5,6}
na = 1 #n(a) = {5}
pa = na/ns #p(a)
print("Prob. of not getting 5 is: ",1-pa)

Prob. of not getting 5 is:  0.8333333333333334

# Conditional prob.

In [19]:
import pandas as pd
import numpy as np
df = pd.read_csv('C:/Users/raish/Downloads/student-mat.csv')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [20]:
df['grade_A'] = np.where(df['G3']*5 >= 80,1,0)

In [21]:
df['high_absenses'] = np.where(df['absences'] >=10 ,1,0)

In [22]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,grade_A,high_absenses
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,1,1,3,6,5,6,6,0,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,1,1,3,4,5,5,6,0,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,2,2,3,3,10,7,8,10,0,1
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,1,1,5,2,15,14,15,0,0
4,GP,F,16,U,GT3,T,3,3,other,other,...,2,1,2,5,4,6,10,10,0,0

In [23]:
df['count'] = 1

In [24]:
df = df[['grade_A','high_absenses','count']]
df.head()

   grade_A  high_absenses  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [25]:
final = pd.pivot_table(
    df,
    values='count',
    index=['grade_A'],
    columns=['high_absenses'],
    aggfunc=np.size,
    fill_value=0

)
print(final)

high_absenses    0   1
grade_A
0              277  78
1               35   5

In [27]:
pa = (35+5)/(277+78+35+5) # student h=who have grade A
print(pa)
pb = (78+5)/(277+78+35+5) # student who have absent more than 10 lecture
print(pb)
p_a_or_b = 5/(277+78+35+5) # student who have absent more than 10 lec. and having grade A
print(p_a_or_b)
P_ab = p_a_or_b/pb 
print(P_ab)

0.10126582278481013
0.21012658227848102
0.012658227848101266
0.060240963855421686

# Combinatorics : Permutations, Variations & Combinations

In [2]:
import itertools
from itertools import product
box_1 = ['g','b']
perm = []
for p in itertools.product(box_1, repeat=2):
    perm.append(p)
perm

[('g', 'g'), ('g', 'b'), ('b', 'g'), ('b', 'b')]

In [4]:
import itertools
from itertools import product
box_1 = ['g','b','y']
perm = []
for p in itertools.product(box_1, repeat=3):
    perm.append(p)
perm

[('g', 'g', 'g'),
 ('g', 'g', 'b'),
 ('g', 'g', 'y'),
 ('g', 'b', 'g'),
 ('g', 'b', 'b'),
 ('g', 'b', 'y'),
 ('g', 'y', 'g'),
 ('g', 'y', 'b'),
 ('g', 'y', 'y'),
 ('b', 'g', 'g'),
 ('b', 'g', 'b'),
 ('b', 'g', 'y'),
 ('b', 'b', 'g'),
 ('b', 'b', 'b'),
 ('b', 'b', 'y'),
 ('b', 'y', 'g'),
 ('b', 'y', 'b'),
 ('b', 'y', 'y'),
 ('y', 'g', 'g'),
 ('y', 'g', 'b'),
 ('y', 'g', 'y'),
 ('y', 'b', 'g'),
 ('y', 'b', 'b'),
 ('y', 'b', 'y'),
 ('y', 'y', 'g'),
 ('y', 'y', 'b'),
 ('y', 'y', 'y')]

In [6]:
import itertools
box_1 = ['g','b']
perm = itertools.permutations(box_1)

for i in list(perm):
    print(i)

('g', 'b')
('b', 'g')

In [8]:
import itertools
box_1 = ['g','b','y']
perm = itertools.permutations(box_1)

for i in list(perm):
    print(i)

('g', 'b', 'y')
('g', 'y', 'b')
('b', 'g', 'y')
('b', 'y', 'g')
('y', 'g', 'b')
('y', 'b', 'g')

Variation with repetation

In [9]:
box_2 = ['g','b','y']
perm = []
for p in itertools.product(box_2,repeat=2):
    perm.append(p)
perm

[('g', 'g'),
 ('g', 'b'),
 ('g', 'y'),
 ('b', 'g'),
 ('b', 'b'),
 ('b', 'y'),
 ('y', 'g'),
 ('y', 'b'),
 ('y', 'y')]

Variation without repetation

In [10]:
import itertools
box_2 = ['g','b','y']
perm = itertools.permutations(box_2,2)

for i in list(perm):
    print(i)

('g', 'b')
('g', 'y')
('b', 'g')
('b', 'y')
('y', 'g')
('y', 'b')

In [12]:
from itertools import combinations_with_replacement

box_1 = ['g','b']
comb = combinations_with_replacement(box_1,2)

for i in list(comb):
    print(i)

('g', 'g')
('g', 'b')
('b', 'b')

In [13]:
from itertools import combinations_with_replacement

box_1 = ['g','b','y','w']
comb = combinations_with_replacement(box_1,2)

for i in list(comb):
    print(i)

('g', 'g')
('g', 'b')
('g', 'y')
('g', 'w')
('b', 'b')
('b', 'y')
('b', 'w')
('y', 'y')
('y', 'w')
('w', 'w')

Without repetation

In [15]:
from itertools import combinations
box_1 = ['b','g','y']
comb = combinations(box_1,2)

for i in list(comb):
    print(i)

('b', 'g')
('b', 'y')
('g', 'y')